.navbar-text
  color: white
  display: flex
  span
    margin-right: 20px

.navbar-text-center
  color: white
  display: flex
  span
    margin-top: 3px
    font-size: 1.1rem

.clocks-dropdown
  margin-top: -4px
  margin-left: 15px
  button
    color: #ffc107
    font-weight: bold

.gmt-button
  width: 120px